################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/poc_qms_craft/FileContentIndex
/.vs/CROSS
